<h2>LandingCat Admin</h2>

<ul>
  <li><%= link_to 'Campaigns', admin_campaigns_path %></li>
  <li><%= link_to 'Experiments', admin_split_cat_path %></li>
  <li><%= link_to 'Leads', admin_leads_path %></li>
  <li><%= link_to 'Pages', admin_pages_path %></li>
</ul>