<h2>LandingCat Admin</h2>

<ul>
  <li><%= link_to 'Campaigns', landing_cat.admin_campaigns_path %></li>
  <li><%= link_to 'Experiments', landing_cat.admin_split_cat_path %></li>
  <li><%= link_to 'Leads', landing_cat.admin_leads_path %></li>
  <li><%= link_to 'Pages', landing_cat.admin_pages_path %></li>
</ul>