<!DOCTYPE html>
<html>
<head>
  <title>LandingCat</title>
  <%= stylesheet_link_tag    "landing_cat/application", media: "all" %>
  <%= javascript_include_tag "landing_cat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
